{% extends 'base.html' %}
{% block content %}
    <div class="row mb-2 mt-4">
        <div class="text-center pt-3">
            <h1>Latest Crypto Currency Price and News Articles</h1>
            <p>Get news feeds and articles from all major crypto news providers that CryptoCompare has integrated with.
                You can also retrieve a full list of categories, a great way to filter through the news articles.</p>
            <h4>Want to read more news? Click the link on the image</h4>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#price-table"
                    aria-expanded="false" aria-controls="price-table">
                &#8595; &#8595; &#8595; See top 10 crypto currencies &#8595; &#8595; &#8595;
            </button>
        </div>
    </div>
    <div class="collapse" id="price-table">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">MARKET CAP</th>
                <th scope="col">PRICE</th>
                <th scope="col">VOLUME (24h)</th>
                <th scope="col">CHANGE (24h)</th>
                <th scope="col">DAILY HIGH</th>
                <th scope="col">DAILY LOW</th>
                <th scope="col">LAST UPDATE</th>
            </tr>
            </thead>
            <tbody>
            {% for key,value in price_api.DISPLAY.items %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td>{{ value.USD.MKTCAP }}</td>
                    <td>{{ value.USD.PRICE }}</td>
                    <td>{{ value.USD.VOLUME24HOUR }}</td>
                    <td>{{ value.USD.CHANGE24HOUR }}</td>
                    <td>{{ value.USD.HIGHDAY }}</td>
                    <td>{{ value.USD.LOWDAY }}</td>
                    <td>{{ value.USD.LASTUPDATE }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="pt-2 pl-md-1 mb-3 mb-lg-4">
        <div class="row">
            {% for news in news_api.Data %}
                <div class="col-4 p-1">
                    <div class="card border-0 text-white overflow zoom">
                        <div class="position-relative">
                            <div class="text-center">
                                <a href="{{ news.url }}" target="_blank">
                                    <img class="img-fluid rounded"
                                         src="{{ news.imageurl }}"
                                         alt="{{ news.source_info.img }}">
                                </a>
                            </div>
                            <div class="position-absolute b-0">
                                <a class="badge badge-pill badge-primary"
                                   href="{{ news.guid }}" target="_blank">{{ news.source_info.name }}</a>
                            </div>
                        </div>
                        <div class="alert alert-light text-center bg-transparent border-0">
                            <a href="{{ news.url }}" class="alert-link" target="_blank">{{ news.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
